# yaml-language-server: $schema=https://github.com/epics-containers/ioc-adsimdetector/releases/download/2025.8.1/ibek.ioc.schema.json

# TODO replace above with the generic IOC schema this IOC is based on
ioc_name: "{{ _global.get_env('IOC_NAME') }}"
description: Example simulated detector for BL01T

entities:
  - type: epics.EpicsEnvSet
    name: EPICS_TZ
    value: GMT0BST
    
  - type: epics.EpicsEnvSet
    name: STREAM_PROTOCOL_PATH
    value: /epics/runtime/protocol/

  - type: devIocStats.iocAdminSoft
    IOC: "{{ ioc_name | upper }}"

  # - todo: Add more entities to make a meaningful IOC
  - type: autosave.Autosave
    P: "BL01T-EA-ANDOR-01:"

  - type: ADSimDetector.simDetector
    PORT: ANDOR.DET
    P: BL01T-EA-ANDOR-01
    R: ":DET:"
    DATATYPE: 0   # Int8
    WIDTH: 1024
    HEIGHT: 1024